html,body{
    margin: 0;
    padding: 0;

    height: 100%;
}
section{
    display: block;
    width: 100%;
}


  		/*banner*/


#banner{
    background-size: cover;
    background-image: url(http://www.edgephotography.com.au/wp-content/uploads/2015/03/Wedding-2.jpeg);
    width: 100%;
    height: 100%;

}


		/*portfolio*/
#portfolio {
	height: 85%;
	width: 100%;
	text-align: center;
}

     /*card starts here*/

.card {
	position: relative;
	float: left;
	padding-bottom: 25%;
	width: 70%;
	text-align: center;
	margin: 10px;
	height: 400px;

}

.card__front,
.card__back {
	position: absolute;
	top: 0;
	left: 0;
	width: 150%;
	height: 100%;
}

.card__front,
.card__back {
	-webkit-backface-visibility: hidden;
		  backface-visibility: hidden;
	-webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s;
}

.card__front {
 	background-color: #ff5078;
}

.card__back {
 	background-color: #1e1e1e;
 	-webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
}

.card.effect__hover:hover .card__front {
	-webkit-transform: rotateY(-180deg);
			transform: rotateY(-180deg);
}

.card.effect__hover:hover .card__back {
	-webkit-transform: rotateY(0);
		     transform: rotateY(0);
}


   /*card image styling*/

		/*card1*/
.cardimg {
	height: 400px;
	width: 100%;
}

		/*	contacts	*/

#contacts {
	height: 240px;
	width: 100%;
	background-color: lightgrey;
	text-align: center;
}

.icon {
	float: left;
	margin-left: 350px;
}
.pop {
	margin: 20px;
}
