html,body{
    margin: 0;
    padding: 0;

    height: 100%;
}
section{
    display: block;
    width: 100%;
}


	/*banner*/

#banner {
    background-size: cover;
   /* background-image: url(http://www.edgephotography.com.au/wp-content/uploads/2015/03/Wedding-2.jpeg);
*/    width: 100%;
	height: 100%;
}

nav{
    width: 100%;
}
nav ul{
    list-style: none;
    padding: 2%;
	margin-top: 30px;
}
nav ul li{
    text-transform: capitalize;
    display: inline-block;
    margin: 0 3%;
    font-size: 1.7em
}
nav ul li a{
    text-decoration: none;
	color: #800;
}
nav ul li a:hover {
	text-decoration: none;
	color: red;
}

.bannertxt {
	margin-left: 40px;
	margin-top: 60px;
}
.bannertxt h1 {
	font-size: 100px;
	font-family: 'Kaushan Script', cursive;
	padding-bottom: 30px;
	color: #800;
}
.bannertxt p {
	font-family: 'Kaushan Script', cursive;
	font-size: 30px;
}

/*****************Services styling **************/
#services {
	text-align: center;
}
.stxt{
    margin: 30px;
    white-space: nowrap;
}
.stxt p{
    margin: 0;
    padding: 0;

}
.simg{
    margin-left: 60px;
	margin-top: 50px;
}
.svc{
    width: 27%;
    margin: 1%;
/*    overflow: hidden;*/
}


		/*portfolio*/
#portfolio {
	height: 85%;
	width: 100%;
	text-align: center;
	background-color: black;
	color: #fff;
}

     /*card starts here*/

.card {
	position: relative;
	float: left;
	width: 100%;
	text-align: center;
	margin: 10px;
	height: 0px;
}

.card__front,
.card__back {
	position: absolute;
	top: 0;
	left: 0;
	width: 150%;
    height: 50%;

}

/* card fronts and backs */
.card__front,
.card__back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}

.card__front,
.card__back {

/*
	-webkit-backface-visibility: hidden;
		  backface-visibility: hidden;
	-webkit-transition: -webkit-transform 0.3s;
*/

  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s;

          transition: transform 0.3s;
}

.card__front {
 	background-color: #ff5078;
}

.card__back {
 	background-color: #1e1e1e;
 	-webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
}

.card.effect__hover:hover .card__front {
	-webkit-transform: rotateY(-180deg);
			transform: rotateY(-180deg);
}

.card.effect__hover:hover .card__back {
	-webkit-transform: rotateY(0);
		     transform: rotateY(0);
}


   /*card image styling*/

		/*card1*/
.cardimg {
	height: 400px;
	width: 100%;
	padding-top: 20px;
}

		/*	contacts	*/

#contacts {
	height: 240px;
	width: 100%;
	background-color: lightgrey;
	text-align: center;
}

.icon {
    margin-bottom: 0;
	float: left;
	margin-left: 350px;
}
.pop {
	margin: 20px;
}

		/*typography*/
h2 {
	font-family: federant;
}

