[Desktop Entry]
Encoding=UTF-8
Name=Link to Camera icon
Type=Link
URL=http://plainicon.com/dboard/userprod/2804_d7ca3/prod_thumb/plainicon.com-50882-w-256px-5993.png
Icon=image-png
